<form class="searchbar" (input)="searchChange()">
  <mat-form-field matTooltip="Enter an issue's key or its summary to search for it." appearance="outline">
    <input type="text" placeholder="SEARCH FOR REQUIREMENTS BY KEY OR TITLE" [formControl]="searchControl" matInput (change)="searchChange()">
  </mat-form-field>
</form>

<div class="main-container">
  <mat-selection-list class="issues" [multiple]="false">
    <div matTooltip="A list of all the requirements you should review." mat-subheader style="color: #000000; font-size: 16px;">Requirements</div>

    <mat-list-option *ngFor="let issue of issues" style="margin: 1px;"
                     (click)="getReq(issue.key); getClassesForReq(issue.key); edit = false;" [value]="issues[0]">
      <mat-card>
        <span class="issuekey">{{issue.key}}</span>
        <span class="text">{{issue.summary}}</span>
      </mat-card>
    </mat-list-option>

  </mat-selection-list>
  <div *ngIf="selectedIssue" class="right-container">
    <p>{{selectedIssue.fields.project.name}} /
      <a href="https://hbrs.atlassian.net/browse/{{selectedIssue.key}}" target="_blank" matTooltip="This link takes you to the issue in Jira.">{{selectedIssue.key}}</a>
    </p>

    <div style="display: flex; justify-content: space-between">
      <h1 style="font-weight: bold">{{selectedIssue.fields.summary}}</h1>
      <div>
        <button mat-raised-button color="primary" matTooltip="Click to finish the review for this specific requirement"
                style="margin-right: 5px" (click)="finishReview(selectedIssue.key)">Finish Review</button>
        <button mat-raised-button color="primary" matTooltip="Click to finish the review for all of the shown requirements. It will mark them as reviewed." (click)="finishAllBox()">Finish All</button>
      </div>
    </div>

    <table>
      <tr>
        <td style="padding-right: 50px; font-weight: bold">Type:</td>
        <td style="padding-right: 150px;">{{selectedIssue.fields.issuetype.name}}</td>
        <td style="padding-right: 50px; font-weight: bold">Status:</td>
        <td style="padding-right: 50px;">{{selectedIssue.fields.status.name}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Priority:</td>
        <td>{{selectedIssue.fields.priority.name}}</td>
        <td style="font-weight: bold; padding-right: 50px;">Component(s):</td>
        <td *ngFor="let c of selectedIssue.fields.components">{{c.name}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Assignee:</td>
        <td *ngIf="selectedIssue.fields.assignee;">{{selectedIssue.fields.assignee.displayName}}</td>
        <td *ngIf="!selectedIssue.fields.assignee;"></td>
        <td style="font-weight: bold">Reporter:</td>
        <td *ngIf="selectedIssue.fields.reporter;">{{selectedIssue.fields.reporter.displayName}}</td>
      </tr>
    </table>
    <br>

    <p style="font-weight: bold">Description:</p>
    <p>{{selectedIssue.fields.description}}</p><br>
    <p style="font-weight: bold">Implemented in:</p>

    <!-- Standard Table view -->
    <div *ngIf="!edit">
      <table class="classes" width="100%">
        <tr style="height: 41px;" class="classes" *ngFor="let cl of selectedIssuesClasses">
          <td class="classes">{{cl}}</td>
        </tr>
      </table>
      <br>
      <button mat-raised-button color="primary" matTooltip="Click to add elements to this requirement."
              (click)="edit = true; getAvailableClasses()">Edit
      </button>
    </div>


    <!-- Table in edit mode -->
    <div *ngIf="edit">
      <table class="classes" width="100%">
        <tr class="classes" *ngFor="let cl of selectedIssuesClasses">
          <td class="classes">{{cl}}</td>
          <td style="padding: 0; text-align: center; vertical-align: middle;" class="classes" width="5%">
            <button mat-icon-button (click)="deleteTraceBox(selectedIssue.key, cl)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td class="classes">
            <mat-form-field>
              <mat-label>Class</mat-label>
              <mat-select [formControl]="classControl" required>
                <mat-option *ngFor="let c of availableClasses" [value]="c">{{c}}</mat-option>
              </mat-select>
              <mat-error *ngIf="classControl.hasError('required')">Please choose a class.</mat-error>
            </mat-form-field>
          <td style="padding: 0;text-align: center; vertical-align: middle;" class="classes" width="5%">
            <button mat-icon-button (click)="addTrace(selectedIssue.key)">
              <mat-icon color="primary">add</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <br>
      <button mat-raised-button color="primary" (click)="edit = false;">Done</button>
    </div>

  </div>
  <div class="right-container" *ngIf="!selectedIssue">
    <h1 style="padding-top: 50px; text-align: center">There are no requirements to review.</h1>
  </div>

</div>

