<div>
  <ul>
    <li><a matTooltip="View an overview of your requirements." href="/overview">Overview</a></li>
    <li matTooltip="View and trace your requirements."><a href="/requirements">Requirements</a></li>
    <li matTooltip="View abd trace your software classes."><a href="/architecture">Software-Architecture</a></li>
    <li matTooltip="Review the Traceability of your requirements."><a href="/review">Review Changes</a></li>
    <li matTooltip="Get some help."><a href="/help">Help</a></li>
    <li style="float: right"><button (click)="updateGit()">Git Import</button></li>
    <li style="float: right; border-left: 1px solid #bbb;"><button (click)="postJiraToNeo4j()">Import Jira</button></li>
  </ul>
</div>
<router-outlet></router-outlet>

