<body style="padding-top: 30px; padding-bottom: 40px; position:fixed; width: 100%;">

<h1 align="center" style="color:#2c397e; font-weight: bold; padding-bottom: 30px;">Overview of your requirements</h1>
<div style="display:flex; flex-direction: row; width: 100%; height:80%; justify-content: center; overflow: hidden; margin-bottom: 140px;">

  <mat-list class="columns">
    <div mat-subheader
         matTooltip="This is a list of requirements you should review, because the classes they're implemented in
         underwent changes. Head to 'Review Changes'.">To be reviewed</div>
    <mat-card *ngFor="let issue of reviewableIssues">
      <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}" target="_blank">{{issue.key}}</a>
      <p class="text">{{issue.summary}}</p>
    </mat-card>
    <h2 *ngIf="reviewableIssues.length == 0" style="text-align: center">There are no issues to review.</h2>
  </mat-list>

  <mat-list class="columns">
    <div mat-subheader matTooltip="These requirements haven't been associated with any classes and thus are not traceable.">Non-traceable</div>
    <mat-card *ngFor="let issue of nonTraceableIssues">
      <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}" target="_blank">{{issue.key}}</a>
      <p class="text">{{issue.summary}}</p>
    </mat-card>
    <h2 *ngIf="nonTraceableIssues.length == 0" style="text-align: center">There are no issues without traces.</h2>

  </mat-list>

  <mat-list class="columns">
    <div mat-subheader matTooltip="These requirements have been associated with classes and thus are traceable.">Traceable</div>
    <mat-card *ngFor="let issue of traceableIssues">
      <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}" target="_blank">{{issue.key}}</a>
      <p class="text">{{issue.summary}}</p>
    </mat-card>
    <h2 *ngIf="traceableIssues.length == 0" style="text-align: center">There are no issues with traces.</h2>
  </mat-list>

</div>

