<body style="padding-top: 30px;">

<h1 align="center" style="color:#2c397e; font-weight: bold; padding-bottom: 30px;">Overview of your requirements</h1>
<div style="display:flex; flex-direction: row; width: 100%; justify-content : center;">

<mat-list class="issues">
  <div mat-subheader style="color: #000000; font-size: 16px;">To be reviewed</div>
  <mat-card *ngFor="let issue of issues" style="margin: 1px;">
    <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
    <p>{{issue.fields.summary}}</p>
  </mat-card>
  <mat-card *ngFor="let issue of issues" style="margin: 1px;">
    <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
    <p>{{issue.fields.summary}}</p>
  </mat-card>
  <mat-card *ngFor="let issue of issues" style="margin: 1px;">
    <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
    <p>{{issue.fields.summary}}</p>
  </mat-card>
  <mat-card *ngFor="let issue of issues "style="margin: 1px;">
    <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
    <p>{{issue.fields.summary}}</p>
  </mat-card>
</mat-list>

  <mat-list class="issues">
    <div mat-subheader style="color: #000000; font-size: 16px;">Non-traceable</div>
    <mat-card *ngFor="let issue of issues" class="card" style="margin: 1px;">
      <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
      <p>{{issue.fields.summary}}</p>
    </mat-card>
  </mat-list>

  <mat-list class="issues">
    <div mat-subheader style="color: #000000; font-size: 16px;">Traceable</div>
    <mat-card *ngFor="let issue of issues" style="margin: 1px;">
      <a style="font-weight: bold" href="https://hbrs.atlassian.net/browse/{{issue.key}}">{{issue.key}}</a>
      <p>{{issue.fields.summary}}</p>
    </mat-card>
  </mat-list>

</div>

