
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  height: 50px;
  background-color: #3f51b5;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a, .brand {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


