<form class="searchbar" (input)="searchChange()">
  <mat-form-field matTooltip="Enter an issue's key or its summary to search for it." appearance="outline">
    <input type="text" placeholder="SEARCH FOR SOFTWARE CLASSES" [formControl]="searchControl" matInput (change)="searchChange()">
  </mat-form-field>
</form>

<div class="main-container">
  <mat-selection-list class="issues" [multiple]="false">
    <div mat-subheader style="color: #000000; font-size: 16px;" matTooltip="A list of your projects classes.">Software-Classes</div>

    <mat-list-option *ngFor="let c of classes" style="margin: 1px;"
                     (click)="getIssuesForClass(c.filename); selectedClass=c; edit = false;">
      <mat-card>{{c.filename}}</mat-card>
    </mat-list-option>

  </mat-selection-list>
  <div *ngIf="selectedClass && selectedClassIssues" class="right-container">
    <a *ngIf="selectedClass.path" href="https://github.com/marie-becker/prioTool/blob/master/{{selectedClass.path}}">{{selectedClass.path}}</a>
    <h1 style="font-weight: bold">{{selectedClass.filename}}</h1>

    <table>
      <tr>
        <td style="padding-right: 50px; font-weight: bold">Last commit:</td>
        <td style="padding-right: 150px;">{{selectedClass.lastcommit}}</td>
      </tr>
    </table>
    <br>

    <p style="font-weight: bold">Implements:</p>

    <!-- Table in view mode -->
    <div *ngIf="edit==false">
      <table class="classes" width="100%">
        <tr style="" class="classes" *ngFor="let issue of selectedClassIssues">
          <td class="classes">{{issue.key}} - {{issue.summary}}</td>
        </tr>
      </table>
      <br>
      <button mat-raised-button color="primary" (click)="edit = true; getAvailableIssues(selectedClass)">Edit</button>
    </div>

    <!-- Table in edit mode -->
    <div *ngIf="edit==true">
      <table class="classes" width="100%">
        <tr class="classes" *ngFor="let issue of selectedClassIssues">
          <td class="classes">{{issue.key}} - {{issue.summary}}</td>
          <td style="padding: 0; text-align: center; vertical-align: middle;" class="classes" width="5%">
            <button mat-icon-button (click)="del(issue.key)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td class="classes">
            <mat-form-field>
              <mat-label>Issue</mat-label>
              <mat-select [formControl]="issueControl" required>
                <mat-option *ngFor="let issue of availableIssues" [value]="issue.key">{{issue.key}}
                  - {{issue.summary}}</mat-option>
              </mat-select>
              <mat-error *ngIf="issueControl.hasError('required')">Please choose a requirement.</mat-error>
            </mat-form-field>
          <td style="padding: 0;text-align: center; vertical-align: middle;" class="classes" width="5%">
            <button mat-icon-button (click)="addTrace()">
              <mat-icon color="primary">add</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <br>
      <button *ngIf="edit" mat-raised-button color="primary" (click)="edit = false;">Done</button>
    </div>

  </div>
  <div class="right-container" *ngIf="!selectedClass">
    <h1 style="padding-top: 50px;">There are no software classes. Import your Git-repository to show its classes.</h1>
  </div>
</div>

